.poetryTranslator {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
}

.words {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: red;
}

.circle {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: blue;
}